{% extends '::baseSecure.html.twig' %}

{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="blog-title">Backscratchers</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}